body{
	background-color: #696969;
}
#menu{
	background-color: #f3f3f3;
}
#carrossel{
	background-color: #f3f3f3;
}
#card1{
	background-color: #f3f3f3;
}
#card2{
	background-color: #f3f3f3;
}
#card3{
	background-color: #f3f3f3;
}
#formulario{
	background-color: #f3f3f3;
	padding-left: 30px;
}
#resultado{
	background-color: #f3f3f3;
	padding-left: 30px;
}